.App {
  display: flex;
  direction: row;
}

.TodoList {
    width: 30px;
  margin: 100px auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
}

.todoList-task .done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}
