.App-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 100px 500px 90px;
  grid-template-areas:
          "h h h h h "
          "m c c c c"
          "s c c c c"
          "f f f f f";
  background-color: cornflowerblue;
}

.mainName {
  color: green
}


.TodoList {
    width: 800px;
  margin: 100px auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
}

.todoList-task .done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}

.red {
    background-color: red;

}

.black {
    background-color: blue;
}



