
.SideBar{
    background-color: yellow;
    grid-area: s;
}

.activeTask {
   color: red;
}

.passiveTask {
   color: blue;
}

.red {
    color: red;
}

.black {
    color: yellow;
}

.blue {
    color: greenyellow;
}

